body {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  .main{
    display: flex;
    .menu{
      flex: 1;
    }
    .main-body{
      flex: 3;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.not-visible{
  display: none !important;
}
.active{
      // background-color: rgba(90,169,230, .4) !important;
      background-color: #053B50 !important;
      color: white;
}
